import gqx{{properCase name}} from '../src/{{name}}.vue'

export default {
title: 'gqx{{properCase name}}',
component: gqx{{properCase name}}
}

export const {{properCase name}} = _ => ({
components: { gqx{{properCase name}} },
template: `
<div>
  <gqx-{{name}}></gqx-{{name}}>
</div>
`
})